app/google-services.json
backend/serviceAccountKey.json
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build
backend/node_modules
backend/kinetic.db
backend/kinetic.db-wal
backend/kinetic.db-shm
ai_server/__pycache__
ai_server/*.pyc
